<h1><%= @restaurant.name %></h1>
<p><%= @restaurant.address %></p>
<p>Category : <%= @restaurant.category %></p>

<ul>
  <% @restaurant.reviews.each do |review| %>
    <li><%= review.content %> (<%= review.rating %>)</li>
  <% end %>
</ul>

<%= link_to 'Back to the list', restaurants_path %>

<%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :content %>
    <%= f.input :rating %>
  </div>

  <div class="form-actions">
    <%= f.submit 'Submit', :class => "btn btn-primary"%>
  </div>
<% end %>
